@media print {
  @page {
    size: portrait;
  }
}

/* Font */
@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-Regular.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-ExtraBold.ttf") format("truetype");
  font-weight: 800; /* Extra Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-ExtraLight.ttf") format("truetype");
  font-weight: 200; /* Extra Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Semi Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Spectral";
  src: url("fonts/Spectral-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

/* Add your custom styles here */
.placeholder-image {
  background-color: #aaa;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  position: relative;
}

.placeholder-image::after {
  content: "Placeholder";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
}
/* styles.css - Keep this file consistent across all HTML pages */

/* Existing styles from previous example */

/* Bootstrap Overrides */
.btn.start-button {
  font-size: 18px;
  border-radius: 50px;
  padding: 10px 25px;
  color: #000; /* Adjust color as needed */
  border-color: #000; /* Adjust border color as needed */
}

.btn.start-button:hover {
  background-color: #000;
  color: #fff;
}

/* Custom dropdown styles */
.dropdown-toggle {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
}

.dropdown-menu {
  background-color: #f7f7f7; /* Light grey background */
}

.dropdown-item {
  color: #333; /* Dark grey text */
}

.dropdown-item:hover {
  background-color: #4caf50; /* Green background for hover */
  color: white; /* White text for hover */
}

/*Receipt Page*/

/* Divider styles */
.divider-thick {
  height: 3px; /* Height of the dividing line */
  background-color: #000; /* Color of the dividing line, change as needed */
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Space between the line and the section, adjust as needed */
}

.divider-thin {
  height: 1px; /* Height of the dividing line */
  background-color: #d3d3d3; /* Color of the dividing line, change as needed */
  width: 100%; /* Full width */
  margin-bottom: 20px; /* Space between the line and the section, adjust as needed */
}
/* Read Section styles */
.d-flex {
  align-items: flex-start; /* Aligns items to the start of the container */
  align-items: center;
}

.icon {
  height: 2em; /* This sets the icon's height relative to the font size */
  width: auto; /* Maintains the icon's aspect ratio */
}

.section-title {
  font-family: "Spectral";
  font-weight: 700;
}
